@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #192f3b;
  --primary-dark: #071d22;
  --primary-light: #3b3b3b;
  --white-dark: #c0c0c0;
  --background: #192f3b;
  --tertiary: #7b858a;
  --text-primary: #c0c0c0;
  --accent: #ffffff;
  --white: #ffffff;
  --secondary: #db4112;
  --secondary-dark: #aa310c;
  /* 
  --background: #CDCECF;
  --tertiary: #7b858a;
  --text-primary: #333333;
  --accent: #000000;
  --white: #ffffff;
  --secondary: #db4112;
  --secondary-dark: #aa310c; */
  --text-secondary: #666666;
  --button-bg: #e0e0e0;
  --button-text: #333333;
  --font-size: clamp(0.9rem, 1.25vw, 2.5rem);
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaNeueHeavyItalic.otf") format("opentype");
}
.helvetica {
  font-family: "Helvetica";
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--accent);
  transition: all 0.3s ease;
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

p {
  color: var(--tertiary);
  /* max-width: 60vw; */
  font-size: var(--font-size);
}

h3 {
  font-size: calc(var(--font-size) * 1.618);
}

h2 {
  font-size: calc(var(--font-size) * 1.618 * 1.618);
  font-weight: 600;
}

h1 {
  font-family: "Syne", sans-serif;
  font-size: calc(var(--font-size) * 1.618 * 1.618 * 1.618);
  line-height: calc(var(--font-size) * 1.618 * 1.618 * 1.618 * 1.1);
}

.text-text-primary * {
  color: var(--text-primary);
}

input,
textarea,
select,
option {
  color: var(--white);
  /* background-color: var(--primary); */
  outline: none;
}
input:focus,
textarea:focus,
select:focus,
option:focus {
  outline: none;
}

svg path {
  fill: var(--accent);
  stroke: var(--accent);
}

.image {
  filter: url(#round);
}

.image img,
img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.hero-clipped {
  -webkit-clip-path: polygon(40% 30%, 40% 0%, 100% 0%, 100% 70%, 45% 70%, 45% 100%, 0% 100%, 0% 30%);
          clip-path: polygon(40% 30%, 40% 0%, 100% 0%, 100% 70%, 45% 70%, 45% 100%, 0% 100%, 0% 30%);
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.rotate-y {
  transform-style: preserve-3d;
  box-shadow: 0px 0px 50px 0px rgba(24, 24, 24, 0.2);
  /* // transform:; */
}
.rotate-y * {
  transform-style: preserve-3d;
}
.rotate-y:hover {
  transform: perspective(1500px) translateX(0px) translateY(0%) rotateX(0deg) rotateY(25deg) translateZ(0px) scaleX(0.9);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

@keyframes scroll-vertical {
  0% {
    bottom: var(--initial);
  }
  100% {
    bottom: var(--final);
  }
}
@keyframes rock {
  0% {
    top: 0%;
  }
  50% {
    top: 10%;
  }
  100% {
    top: 0%;
  }
}
.flying-plane {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.flying-plane .object, .flying-plane::before, .flying-plane::after {
  position: absolute;
  content: "";
  height: 100%;
  aspect-ratio: 1;
  transition: all 1s ease;
}
.flying-plane .object {
  z-index: 2;
  height: 85%;
  background: url("/images/airplane.webp") center/cover no-repeat;
  animation: rock 5s linear infinite;
}
.flying-plane::before, .flying-plane::after {
  --initial: 100%;
  --final: -100%;
  z-index: 1;
  background: url("/images/air-waves.webp") center/cover no-repeat;
  animation: scroll-vertical 1s linear infinite;
}
.flying-plane::after {
  --initial: 200%;
}

@keyframes scroll-horizontal {
  0% {
    right: var(--initial);
  }
  50% {
    right: var(--final);
  }
  100% {
    right: var(--initial);
  }
}
@keyframes rock-horizontal {
  0% {
    left: 0%;
  }
  50% {
    left: 10%;
  }
  100% {
    left: 0%;
  }
}
.sailing-ship {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.sailing-ship .object, .sailing-ship::after {
  position: absolute;
  content: "";
  height: 100%;
  aspect-ratio: 1;
  transition: all 1s ease;
  bottom: 0;
}
.sailing-ship .object {
  z-index: 2;
  height: 75%;
  background: url("/images/cargoship.webp") center/cover no-repeat;
  animation: rock-horizontal 5s linear infinite;
}
.sailing-ship::after {
  --initial: 0%;
  --final: 10%;
  width: 120%;
  transform: translateX(var(--final));
  z-index: 1;
  background: url("/images/water-waves.webp") center/cover no-repeat;
  animation: scroll-horizontal 3s linear infinite;
}

@keyframes scroll-horizontal-land {
  0% {
    left: var(--initial);
  }
  100% {
    left: var(--final);
  }
}
.land-shipping {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.land-shipping .object, .land-shipping::before, .land-shipping::after {
  position: absolute;
  content: "";
  height: 100%;
  aspect-ratio: 1;
  transition: all 1s ease;
}
.land-shipping .object {
  z-index: 2;
  height: 85%;
  bottom: 0;
  background: url("/images/cargotruck.webp") center/cover no-repeat;
  animation: rock-horizontal 6s linear infinite;
}
.land-shipping::before {
  --initial: 100%;
  --final: -100%;
  background: url("/images/road-bottom.webp") center/cover no-repeat;
  animation: scroll-horizontal-land 3s linear infinite;
}
.land-shipping::after {
  background: url("/images/road-top.webp") center/cover no-repeat;
  animation: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-themed::-webkit-scrollbar {
  width: 6px;
  border-radius: 8px;
}
.scrollbar-themed::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}
.scrollbar-themed::-webkit-scrollbar-thumb {
  background: var(--tertiary);
  border-radius: 8px;
}
@media (max-width: 768px) {
  .scrollbar-themed::-webkit-scrollbar {
    display: none;
  }
}

button.slick-arrow {
  opacity: 0;
}

ul.slick-dots li button:before {
  color: var(--white);
}

ul.slick-dots li.slick-active button:before {
  color: var(--white);
}

html {
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
}
html body {
  height: 100dvh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background: var(--background);
}
html body::-webkit-scrollbar {
  display: none;
}
html body main section {
  flex-shrink: 0;
  height: 100dvh;
  width: 100dvw;
  padding: 2rem 3rem;
  padding-top: 6rem;
}
@media (min-width: 1536px) {
  html body main section {
    padding: 2rem 10rem;
    padding-top: 7rem;
  }
}
@media (max-width: 767px) {
  html body main section {
    padding: 2rem 1rem;
    padding-top: 5rem;
  }
}