@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #192f3b;
  --primary-dark: #071d22;
  --secondary: #ec6c06;
  --secondary-dark: #b15c16;
  --tertiary: #8b969c;
  --white: #ffffff;
  --white-dark: #c0c0c0;
  --font-size: clamp(0.9rem, 1.25vw, 2.5rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--white);
  transition: all 0.3s ease;
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

p {
  color: var(--tertiary);
  max-width: 60vw;
  font-size: var(--font-size);
}

h3 {
  font-size: calc(var(--font-size) * 1.618);
}

h2 {
  font-size: calc(var(--font-size) * 1.618 * 1.618);
  font-weight: 600;
}

h1 {
  font-family: "Syne", sans-serif;
  font-size: calc(var(--font-size) * 1.618 * 1.618 * 1.618);
  line-height: calc(var(--font-size) * 1.618 * 1.618 * 1.618 * 1.1);
}

.image {
  filter: url(#round);
}

.image img {
  height: 100%;
  width: 100%;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.hero-clipped {
  -webkit-clip-path: polygon(40% 30%, 40% 0%, 100% 0%, 100% 70%, 45% 70%, 45% 100%, 0% 100%, 0% 30%);
          clip-path: polygon(40% 30%, 40% 0%, 100% 0%, 100% 70%, 45% 70%, 45% 100%, 0% 100%, 0% 30%);
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.rotate-y {
  transform-style: preserve-3d;
  box-shadow: 0px 0px 50px 0px rgba(24, 24, 24, 0.2);
}
.rotate-y * {
  transform-style: preserve-3d;
}
.rotate-y:hover {
  transform: perspective(1500px) translateX(0px) translateY(0%) rotateX(0deg) rotateY(25deg) translateZ(0px) scaleX(0.9);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

@keyframes scroll-vertical {
  0% {
    bottom: var(--initial);
  }
  100% {
    bottom: var(--final);
  }
}
@keyframes rock {
  0% {
    top: 0%;
  }
  50% {
    top: 10%;
  }
  100% {
    top: 0%;
  }
}
.flying-plane {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.flying-plane .object, .flying-plane::before, .flying-plane::after {
  position: absolute;
  content: "";
  height: 100%;
  aspect-ratio: 1;
  transition: all 1s ease;
}
.flying-plane .object {
  z-index: 2;
  height: 85%;
  background: url("/images/airplane.webp") center/cover no-repeat;
  animation: rock 5s linear infinite;
}
.flying-plane::before, .flying-plane::after {
  --initial: 100%;
  --final: -100%;
  z-index: 1;
  background: url("/images/air-waves.webp") center/cover no-repeat;
  animation: scroll-vertical 1s linear infinite;
}
.flying-plane::after {
  --initial: 200%;
}

html {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}
html body {
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
  background: var(--primary);
  scroll-snap-type: y mandatory;
}
html body::-webkit-scrollbar {
  display: none;
}
html body main section {
  scroll-snap-align: start;
  flex-shrink: 0;
  height: 100dvh;
  width: 100dvw;
  padding: 2rem 3rem;
  padding-top: 6rem;
}
@media (min-width: 1536px) {
  html body main section {
    padding: 2rem 10rem;
    padding-top: 7rem;
  }
}
@media (max-width: 767px) {
  html body main section {
    padding: 2rem 1rem;
    padding-top: 5rem;
  }
}