@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #192f3b;
  --primary-dark: #071d22;
  --secondary: #ec6c06;
  --secondary-dark: #b15c16;
  --tertiary: #8b969c;
  --white: #ffffff;

     --font-size: clamp(0.9rem, 1.25vw, 2.5rem);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--white);
  transition: all 0.3s ease;
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

p {
  color: var(--tertiary);
  max-width: 60vw;
  font-size: var(--font-size);
}

h3 {
  font-size: calc(var(--font-size) * 1.618);
}

h2 {
  font-size: calc(var(--font-size) * 1.618 * 1.618);
  font-weight: 600;
}

h1 {
  font-family: "Syne", sans-serif;
  font-size: calc(var(--font-size) * 1.618 * 1.618 * 1.618);
  line-height: calc(var(--font-size) * 1.618 * 1.618 * 1.618 * 1.1);
}

.image {
  filter: url(#round);
}

.image img {
  height: 100%;
  width: 100%;
}

img {
  object-fit: cover;
  object-position: center;
}

.hero-clipped {
  clip-path: polygon(
    40% 30%,
    40% 0%,
    100% 0%,
    100% 70%,
    45% 70%,
    45% 100%,
    0% 100%,
    0% 30%
  );
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;

  body {
    height: 100dvh;
    width: 100dvw;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }

    background: var(--primary);
      scroll-snap-type: y mandatory;

    main {
      section {
        scroll-snap-align: start;
        flex-shrink: 0;
        height: 100dvh;
        width: 100dvw;
        padding: 2rem 3rem;
        padding-top: 6rem;
      }
      @media (min-width: 1536px) {
        section {
          padding: 2rem 10rem;
          padding-top: 7rem;
        }
      }

      @media (max-width: 767px) {
        section {
          padding: 2rem 1rem;
          padding-top: 5rem;
        }
      }
    }
  }
}
