@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #192f3b;
  --primary-dark: #071d22;
  --primary-light: #3b3b3b;
  --secondary: #db4112;
  --secondary-dark: #aa310c;
  --tertiary: #8b969c;
  --white: #ffffff;
  --white-dark: #c0c0c0;

  --font-size: clamp(0.9rem, 1.25vw, 2.5rem);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/HelveticaNeueHeavyItalic.otf') format('opentype');
}

.helvetica {
  font-family: 'Helvetica';
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--white);
  transition: all 0.3s ease;
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

p {
  color: var(--tertiary);
  /* max-width: 60vw; */
  font-size: var(--font-size);
}

h3 {
  font-size: calc(var(--font-size) * 1.618);
}

h2 {
  font-size: calc(var(--font-size) * 1.618 * 1.618);
  font-weight: 600;
}

h1 {
  font-family: "Syne", sans-serif;
  font-size: calc(var(--font-size) * 1.618 * 1.618 * 1.618);
  line-height: calc(var(--font-size) * 1.618 * 1.618 * 1.618 * 1.1);
}

input, textarea, select, option{
  color: var(--white);
  background-color: var(--primary);
  outline: none;
  &:focus{
    outline: none;
  }
}

.image {
  filter: url(#round);
}

.image img {
  height: 100%;
  width: 100%;
}

img {
  object-fit: cover;
  object-position: center;
}

.hero-clipped {
  clip-path: polygon(
    40% 30%,
    40% 0%,
    100% 0%,
    100% 70%,
    45% 70%,
    45% 100%,
    0% 100%,
    0% 30%
  );
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.rotate-y {
  transform-style: preserve-3d;
    box-shadow: 0px 0px 50px 0px rgb(24, 24, 24, 0.2);
    /* // transform:; */
  *{
    transform-style: preserve-3d;
  }
  &:hover {
    transform: perspective(1500px) translateX(0px) translateY(-0%) rotateX(0deg) rotateY(25deg) translateZ(0px) scaleX(0.9);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }
}

@keyframes scroll-vertical {
  0% {
    bottom: var(--initial);
  }
  100% {
    bottom: var(--final);
  }
}

@keyframes rock {
  0% {
    top: 0%;
  }
  50% {
    top: 10%;
  }
  100% {
    top: 0%;
  }
}

.flying-plane {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;

  .object,
  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 100%;
    aspect-ratio: 1;
    transition: all 1s ease;
  }

  .object {
    z-index: 2;
    height: 85%;
    background: url("/images/airplane.webp") center/cover no-repeat;
    animation: rock 5s linear infinite;
  }
  &::before,
  &::after {
    --initial: 100%;
    --final: -100%;
    z-index: 1;
    background: url("/images/air-waves.webp") center/cover no-repeat;
    animation: scroll-vertical 1s linear infinite;
  }
  &::after {
    --initial: 200%;
  }
}

@keyframes scroll-horizontal {
  0% {
    right: var(--initial)
  }
  50% {
    right: var(--final)
  }
  100% {
    right: var(--initial)
  }
}

@keyframes rock-horizontal {
  0% {
    left: 0%;
  }
  50% {
    left: 10%;
  }
  100% {
    left: 0%;
  }
}

.sailing-ship {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;

  .object,
  &::after {
    position: absolute;
    content: "";
    height: 100%;
    aspect-ratio: 1;
    transition: all 1s ease;
    bottom: 0;
  }

  .object {
    z-index: 2;
    height: 75%;
    background: url("/images/cargoship.webp") center/cover no-repeat;
    animation: rock-horizontal 5s linear infinite;
  }
  &::after {
    --initial: 0%;
    --final: 10%;
    width: 120%;
    transform: translateX(var(--final));
    z-index: 1;
    background: url("/images/water-waves.webp") center/cover no-repeat;
    animation: scroll-horizontal 3s linear infinite;
  }
}

@keyframes scroll-horizontal-land {
  0% {
    left: var(--initial);
  }
  100% {
    left: var(--final);
  }
}

.land-shipping {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;

  .object,
  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 100%;
    aspect-ratio: 1;
    transition: all 1s ease;
  }

  .object {
    z-index: 2;
    height: 85%;
    bottom: 0;
    background: url("/images/cargotruck.webp") center/cover no-repeat;
    animation: rock-horizontal 6s linear infinite;
  }
  &::before {
    --initial: 100%;
    --final: -100%;
    background: url("/images/road-bottom.webp") center/cover no-repeat;
    animation: scroll-horizontal-land 3s linear infinite;
  }
  &::after {
    background: url("/images/road-top.webp") center/cover no-repeat;
    animation: none;
  }
}

.scrollbar-hidden{
  &::-webkit-scrollbar{
    display: none;
  }
}

.scrollbar-themed{
  &::-webkit-scrollbar{
    width: 6px;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb{
    background: var(--tertiary);
    border-radius: 8px;
  }
  @media (max-width: 768px){
    &::-webkit-scrollbar{
      display: none;
    }
  }
}

html {
  height: 100dvh;
  width: 100vw;
  overflow: hidden;

  body {
    height: 100dvh;
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }

    background: var(--primary);

    main {
      section {
        flex-shrink: 0;
        height: 100dvh;
        width: 100dvw;
        padding: 2rem 3rem;
        padding-top: 6rem;
      }
      @media (min-width: 1536px) {
        section {
          padding: 2rem 10rem;
          padding-top: 7rem;
        }
      }

      @media (max-width: 767px) {
        section {
          padding: 2rem 1rem;
          padding-top: 5rem;
        }
      }
    }
  }
}
